@use "../../scss/" as *;

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    color: $white-color;
    padding: 2rem 0;
    z-index: 3;

    &__wrapper {
        @include flex(space-between, center);

        .logo {
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 700;

            @include w920 {
                width: 100%;
                text-align: center;
            }
        }

        .navbar {
            @include flex(center, center);
            &__item {
                margin-left: 2rem;
                font-size: 1.7rem;
                font-weight: 600;

                color: $white-color;
                position: relative;
                cursor: pointer;
                text-transform: uppercase;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -5%;
                    left: 0;

                    width: 0;
                    height: 0.2rem;
                    background-color: $white-color;
                    transition: width 0.2s linear;
                }

                &:hover::before {
                    width: 100%;
                }
            }

            @include w920 {
                display: none;
            }
        }

        .icons {
            position: fixed;
            bottom: 2%;
            left: 50%;
            transform: translateX(-50%);

            @include flex(center, center);
            gap: 2rem;

            background-color: rgba(0, 0, 0, 0.3);
            padding: 1.5rem 3rem 1rem;
            backdrop-filter: blur(0.5rem);

            border-radius: 1rem;
            display: none;
            animation: fadeIn 0.2s linear;

            & > a {
                color: $white-color;
                font-size: 2.5rem;
                transition: transform 0.2s ease-in-out;
                cursor: pointer;
                
                &:hover {
                    transform: scale(1.3);
                }
            }

            &.active {
                display: flex;
            }

            @include w920 {
                display: flex;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}